.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImage {
  height: 200px;
  width: 200px;
  object-fit: contain; /* Ensure the image fits within the bounds */
  margin-bottom: 1rem;
}

.border{
  border: 1px solid #1a1a1a;
  border-radius: 12px;
  padding: 2rem;
  height: 100%;
}

.featureColumn {
  padding: 1rem;
}